{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col" style="text-align: center;">
    <div class="row">
        <div class="col">
            <h1 style="background: #529c43; color: #ffffff; text-align: center; font-family: 'Lexend Deca', sans-serif; padding: 30px; border-radius: 15px; margin-top: 15px; margin-right: 35px; margin-left: 25px; font-size: 30px;">Ventas</h1>
            
            <p class="fw-lighter" style="background: #529c43; text-align: center; font-family: Inter, sans-serif; font-size: 25px; color: #ffffff; padding: 15px; border-radius: 15px; margin-left: 25px; margin-right: 35px; margin-top: 20px;">
                <strong>10/02/2025 - 22/02/2025</strong>
            </p>

            <div class="table-responsive" style="padding: 30px; padding-top: 0px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="fw-normal" style="background: #529c43; font-family: Inter, sans-serif; color: #ffffff; border-radius: 10px; font-size: 20px; text-align: center; padding: 20px;">Fecha de la Venta</th>
                            <th class="fw-normal" style="background: #529c43; font-family: Inter, sans-serif; color: #ffffff; border-radius: 10px; font-size: 20px; text-align: center; padding: 20px;">Nombre del cliente</th>
                            <th class="fw-normal" style="background: #529c43; font-family: Inter, sans-serif; color: #ffffff; border-radius: 10px; font-size: 20px; text-align: center; padding: 20px;">Importe (MXN)</th>
                            <th class="fw-normal" style="background: #529c43; font-family: Inter, sans-serif; color: #ffffff; border-radius: 10px; font-size: 20px; text-align: center; padding: 20px;">Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                        <tr>
                            <td style="background: #f1f1f1; border-radius: 15px; font-family: Inter, sans-serif; padding: 20px; text-align: left;">
                                <span style="color: rgb(77, 77, 77);">{{ sale.date }}</span>
                            </td>
                            <td style="background: #f1f1f1; border-radius: 15px; font-family: Inter, sans-serif; padding: 20px; text-align: left;">
                                <span style="color: rgb(77, 77, 77);">{{ sale.client }}</span>
                            </td>
                            <td style="background: #f1f1f1; border-radius: 15px; font-family: Inter, sans-serif; padding: 20px; text-align: right;">
                                <span style="color: rgb(77, 77, 77);">{{ sale.total }}</span>
                            </td>
                            <td style="background: #f1f1f1; border-radius: 15px; font-family: Inter, sans-serif; padding: 20px; text-align: center;">
                                <a href="{% url 'sales:detail' pk=sale.id %}"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Botones inferiores -->
    <div class="d-flex justify-content-center gap-3" style="margin-top: 50px; margin-bottom: 30px;">
        <a href="{% url 'sales:create' %}" class="btn btn-primary" style="background: #529c43; border-radius: 15px; padding: 15px; font-size: 24px; font-family: 'Lexend Deca', sans-serif; width: 300px; border-style: none;">Agregar</a>
        <button class="btn btn-primary" type="button" style="background: #529c43; border-radius: 15px; padding: 15px; font-size: 24px; font-family: 'Lexend Deca', sans-serif; width: 300px; border-style: none;">Eliminar</button>
        <button class="btn btn-primary" type="button" style="background: #529c43; border-radius: 15px; padding: 15px; font-size: 24px; font-family: 'Lexend Deca', sans-serif; width: 300px; border-style: none;">Actualizar</button>
    </div>
</div>
{% endblock %}
