{% extends "base.html" %}
{% load static %}

{%block content%}
<button class="btn btn-primary" type="button" style="background: #529c43;border-radius: 15px;padding: 30px;margin-top: 10px;font-size: 27px;font-family: 'Lexend Deca', sans-serif;width: 350px;margin-left: 10px;border-style: none;">Gastos</button>
    <button class="btn btn-primary" type="button" style="background: #529c43;border-radius: 15px;padding: 30px;margin-top: 10px;font-size: 27px;font-family: 'Lexend Deca', sans-serif;width: 350px;margin-left: 10px;border-style: none;">Inventario</button>
    <button class="btn btn-primary" type="button" style="background: #529c43;border-radius: 15px;padding: 30px;margin-top: 10px;font-size: 27px;font-family: 'Lexend Deca', sans-serif;width: 350px;margin-left: 10px;border-style: none;">Compras</button>
    <button class="btn btn-primary" type="button" style="background: #529c43;border-radius: 15px;padding: 30px;margin-top: 10px;font-size: 27px;font-family: 'Lexend Deca', sans-serif;width: 350px;margin-left: 10px;border-style: none;">Insumos</button>
    <button class="btn btn-primary" type="button" style="background: #529c43;border-radius: 15px;padding: 30px;margin-top: 10px;font-size: 27px;font-family: 'Lexend Deca', sans-serif;width: 350px;margin-left: 10px;border-style: none;">Productos</button>
    <button class="btn btn-primary" type="button" style="background: #529c43;border-radius: 15px;padding: 30px;margin-top: 10px;font-size: 27px;font-family: 'Lexend Deca', sans-serif;width: 350px;margin-left: 10px;border-style: none;">Proveedores</button>
<a href="{% url 'sales:index' %}" class="btn btn-primary" type="button" style="background: #529c43;border-radius: 15px;padding: 30px;margin-top: 10px;font-size: 27px;font-family: 'Lexend Deca', sans-serif;width: 350px;margin-left: 10px;border-style: none;">Ventas</a>
{%endblock%}